node_modules
# Keep environment variables out of version control
.env

# Firebase Service Account
src/config/firebase-service-account.json

/generated/prisma

/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/config/firebase-service-account.json